
/*
CSS for Probability Turtle Project
*/

html {
    height: 100%;
}

body {
    background: linear-gradient(green, white);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.headerImage {
    width: 300px;
    height: 225px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;

}

h1 {
    text-align: center;
}

.titleQuote {
    text-align: center;
}

nav {
    text-align: right;
    display: inline;
}

li {
    display: inline;
    text-align: center;
}