
/*
CSS for Probability Turtle Project
*/

html {
    background-color: #468b55;
}

.headerImage {
    width: 300px;
    height: 225px;
    border-radius: 50%;
    display: inline;
    border: 1px solid black;
    align-items: center;
}

h1 {
    text-align: center;
}

.titleQuote {
    text-align: center;
}

nav {
    text-align: center;
}

li {
    display: inline;
    text-align: center;
}