
/*
CSS for Probability Turtle Project
*/

@media screen and (max-width:600px) {
    .hideInMobile {
        display: none;
    }
    .generalText {
        font-size: 75%;
    }
    header.headerImage {
        width: 150px;
        height: 100px;
    }
}

@media screen and (max-width:1080px) {
    
}

html {
    height: 100%;
}

body {
    background: linear-gradient(green, white);
    height: 100%;
    margin: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerImage {
    width: 200px;
    height: 125px;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top:10px;
    font-style: oblique;
    font-size: 75px;
}

.titleQuote {
    text-align: center;
    font-style: italic;
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

nav, ul {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-align: center;
    padding: 5px;
    font-size: 75%;
}

li a {
    color: #303030;
    text-decoration: none;
}

button {
    width: 75%;
    display: block;
    height: 100%;
    color: black;
    background-color: green;
    text-align: center;
    font-style: oblique;
    margin: auto;
    padding: auto;
    font-size: 65px;
    font-weight: 200%;
}

footer {
    position: absolute;
    display: block;
    float: bottom;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 25%;
    grid-area: footer;
}

.generalText {
    text-align: center;
}

.resultHeader {
    font-size: 50%;
}

.headerTitle {
    font-size: 200%;
    font-weight: 100;
}

.resultHeaderImg {
    width: 100px;
    height: 75px;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

.loserImg {
    width: 400px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: auto;
    text-align: center;
}

.congrats {
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.cash {
    font-size: 25px;
    padding: 10px;
    margin: 0;
}

.rollAgainText {
    display: block;
    box-shadow: #303030;
    text-shadow: #303030;
    text-align: center;
}